@font-face{font-family:"Gilda Display";src:url(/assets/fonts/gilda-display-latin-400-normal.woff2) format("woff2");font-weight:400;font-display:swap}
@font-face{font-family:"Mulish";src:url(/assets/fonts/mulish-latin-400-normal.woff2) format("woff2");font-weight:400;font-display:swap}
@font-face{font-family:"Mulish";src:url(/assets/fonts/mulish-latin-600-normal.woff2) format("woff2");font-weight:600;font-display:swap}
@font-face{font-family:"Mulish";src:url(/assets/fonts/mulish-latin-700-normal.woff2) format("woff2");font-weight:700;font-display:swap}
